In [ ]:
# 미션: 숫자 리스트의 모든 요소를 제곱한 후 새로운 리스트로 반환하기

In [3]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [i**2 for i in numbers] # TODO: YOUR CODE HERE
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
# 미션: 학생들의 이름과 점수가 있는 딕셔너리에서, 점수가 70점 이상인 학생들만 출력

In [24]:
students = {'Alice': 85, 'Bob': 67, 'Charlie': 72, 'David': 90}
passed_students = {key : value for key, value in students.items() if value >= 70} # TODO: YOUR CODE HERE
print(passed_students)

{'Alice': 85, 'Charlie': 72, 'David': 90}

In [ ]:
# 미션: 두 숫자의 합을 계산하는 함수를 작성

In [23]:
# TODO: YOUR CODE HERE
def add_numbers(a, b):
    return a + b

result = add_numbers(10, 20)
print(result)

30

In [ ]:
# 미션: 텍스트 파일을 읽고, 파일의 각 줄을 역순으로 출력하세요.
# 2~3줄의 문장이 들어있는 간단한 sample.txt 파일을 만들어주세요

In [27]:
data = '''
안녕하세요.
sample.txt 파일입니다.
안녕히계세요.
'''
# 파일 쓰기
with open('sample.txt', 'w', newline='') as file:
    file.write(data)
    
# 파일 읽기    
with open('sample.txt', 'r') as file:
    lines = file.readlines()
    reversed_lines = [line.strip()[::-1] for line in lines] # TODO: YOUR CODE HERE
    for line in reversed_lines:
        print(line)

.요세하녕안
.다니입일파 txt.elpmas
.요세계히녕안

In [ ]:
# 미션: CSV 파일을 읽고, 'column_name' 열의 평균값을 계산하세요.
# 먼저 data.csv파일을 만드는 코드셀을 실행하세요

In [28]:
import csv

# 데이터 정의
data = [
    ['column_group', 'column_name', 'other_column'],
    ['A', 10, 5],
    ['B', 20, 15],
    ['D', 30, 25],
    ['C', 40, 35],
    ['A', 50, 45],
    ['C', 60, 55],
    ['A', 70, 65],
    ['D', 80, 75],
    ['B', 90, 85],
    ['B', 100, 95]
]

# 파일 쓰기
with open('data.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("data.csv 파일이 성공적으로 생성되었습니다.")

data.csv 파일이 성공적으로 생성되었습니다.

In [29]:
import pandas as pd

df = pd.read_csv('data.csv')
average_value = df.column_name.mean()# TODO: YOUR CODE HERE
print(average_value)

55.0

In [ ]:
# 미션: 데이터 프레임에서 특정 조건('column_name'열 중 50초과)을 만족하는 행만 선택하세요.

In [35]:
filtered_df = df[df.column_name > 50] # TODO: YOUR CODE HERE
print(filtered_df)

  column_group  column_name  other_column
5            C           60            55
6            A           70            65
7            D           80            75
8            B           90            85
9            B          100            95

In [ ]:
# 미션: 데이터 프레임을 'column_group' 열에 의해 그룹화하고, 그룹별 합계를 계산하세요.

In [33]:
grouped_df = df.groupby('column_group').sum()# TODO: YOUR CODE HERE
print(grouped_df)

              column_name  other_column
column_group
A                     130           115
B                     210           195
C                     100            90
D                     110           100

In [ ]:
# 미션: 로또 번호 생성기
# 주제: 1부터 45까지의 숫자 중에서 랜덤으로 6개의 로또 번호를 생성하는 프로그램을 작성하세요.
# 요구사항: 6개의 숫자가 중복되지 않도록 랜덤으로 생성합니다.

In [39]:
import random
numbers = list(range(1, 46))

def generate_lotto_numbers():
    random.shuffle(numbers)
    return numbers[:6]

print(generate_lotto_numbers())

[30, 10, 11, 26, 16, 1]

In [ ]:
# 미션: 숫자 맞추기 게임
# 주제: 컴퓨터가 1에서 100 사이의 랜덤 숫자를 선택하고, 사용자가 이를 맞추는 게임을 만드세요.
# 요구사항: 사용자가 숫자를 입력하면, 컴퓨터가 더 큰지 작은지를 알려주고, 맞출 때까지 반복합니다.

In [40]:
import random

def play_guessing_game():
    random_number = random.randint(1, 100)
    
    while True:
        user_input = int(input("1~100 사이의 숫자를 입력하세요: "))
        
        if user_input == random_number:
            print("대단하시네요! 정답을 맞추셨어요!")
            break
        elif user_input < random_number:
            print("입력하신 숫자가 정답보다 작네요!")
        else:
            print("입력하신 숫자가 정답보다 크네요!")
            
play_guessing_game()

입력하신 숫자가 정답보다 작네요!
입력하신 숫자가 정답보다 작네요!
입력하신 숫자가 정답보다 작네요!
입력하신 숫자가 정답보다 작네요!
입력하신 숫자가 정답보다 작네요!
입력하신 숫자가 정답보다 작네요!
입력하신 숫자가 정답보다 크네요!
입력하신 숫자가 정답보다 작네요!
입력하신 숫자가 정답보다 작네요!
대단하시네요! 정답을 맞추셨어요!

In [ ]:
# 미션: 구구단 출력기
# 주제: 2단부터 9단까지의 구구단을 출력하는 프로그램을 작성하세요.
# 요구사항: 2단부터 9단까지의 곱셈 결과를 출력합니다.

In [38]:
def multiply_table():
    for i in range(2, 10):
        print(f"{i}단:")
        for j in range(1, 10):
            print(f"{i} x {j} = {i*j}")

multiply_table()

2단:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3단:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4단:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5단:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6단:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7단:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8단:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9단:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81